
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    height: 100%;
    overflow-x: hidden;
}
.navbar-brand{
  font-size: 2em !important;
  font-weight: 700;
}

.nav-link{
    font-size: 1.0em;
}

.nav-button{
    font-size: .9em;
    border-radius: 0px;
}

.jumbotron{
    height: 70vh;
    background: url(../assets/img/chess4.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
        
}
.overlay-image{
    background-color: rgba(6, 88, 240, 0.685);
    overflow: hidden;
    position: absolute;
    top: 12%;
    left: 0;
    height: 70.5vh;
    width: 100%;
    z-index: 50 !important;
}

#jumbo-text{
    position: absolute;
    top: 40%;
    left: 9%;
    width: 30%;
    z-index: 100 !important;
    background-color: rgba(54, 48, 20, 0.808);
}
#jumbo-arrow-container{
    z-index: 70 !important;
}
#jumbo-arrow{
    position: absolute;
    top: 130px !important;
    left: 0;
    width: 70%;
    /* height: 70%; */
    
}

.icon-background{
    color: #FEB729;
}

#image-container1{
    background: url(../assets/img/pencils2.jpg) no-repeat;
    background-size: cover;
    height: 60vh;
    width: 30vw;
    border-radius: 100%;
}

#image-container2{
    background: url(../assets/img/coffee3.jpg) no-repeat;
    background-size: cover;
    height: 60vh;
    width: 30vw;
    border-radius: 100%;
}

#image-container3{
    background: url(../assets/img/office2.jpg) no-repeat;
    background-size: cover;
    height: 60vh;
    width: 30vw;
    border-radius: 100%;
}

#backgroumd-circle{
    position: absolute;
    top: 156%;
    right: -22%;
    height: 60vh;
    width: 30vw;
    background-color: #E6EDF3;
    border-radius: 100%;
}

#backgroumd-circle2{
    position: absolute;
    top: 302%;
    right: -22%;
    height: 60vh;
    width: 30vw;
    background-color: #E6EDF3;
    border-radius: 100%;
}

#backgroumd-circle3{
    position: absolute;
    top: 230%;
    left: -22%;
    height: 60vh;
    width: 30vw;
    background-color: #E6EDF3;
    border-radius: 100%;
}



/* MEDIA QUERIES */

@media screen and ( min-width: 1086px){
    .overlay-image{
        top: 11.5%;
        height: 70vh;
    }
}

/* for tablets */
@media screen and ( min-width: 768px) and (max-width: 1085px){
    /* .jumbo-header{
        position: absolute;
        top: -10%;
    } */
    
    .overlay-image{
        top: 11.5%;
        height: 70vh;
    }
 
    #backgroumd-circle3, #backgroumd-circle2, #backgroumd-circle{
        display: none;
    }

    #image-container1, #image-container2, #image-container3{
        width: 40vw;
    }
}

/* for smartphones */
@media screen and ( max-width: 767px){
    .overlay-image{
        top: 11.5%;
        height: 70vh;
    }

    #image-container1, #image-container2{
        border-radius: 2%;
        width: 50vw;
    }

    #image-container3{
        position: absolute;
        top: 0%;
        left: -4%;
        border-radius: 2%;
        width: 40vw;
        
    }

    #backgroumd-circle3, #backgroumd-circle2, #backgroumd-circle{
        display: none;
    }

    #jumbo-text{
        left: 3%;
        top: 30%;
        width: 60%;
    }

    #jumbo-arrow{
        width: 100%;
    }
    
}